.summary {
  padding: 4em;
  display: flex;
  justify-content: center;
  position: relative;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text);
}

.pie-chart {
  height: 400px;
  width: 400px;
  cursor: pointer;
}

@media (max-width: 588px) {
  .summary {
    padding: 3em;
  }

  .pie-chart {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 425px) {
  .summary {
    padding-top: 4em;
    margin-left: 10px;
  }

  .pie-chart {
    height: 320px;
    width: 320px;
  }
}
