.loan-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 80vw;
}

.loan-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 90px;
}

@media (max-width: 365px) {
  .loan-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 90vw;
  }
}
