.loan-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 80vw;
}

.show-loan-reset {
  cursor: pointer;
}

.pop-up {
  max-width: 80%;
  height: 500px;
  margin-top: -50px;
}

.loan-input {
  width: 300px;
  max-width: 90%;
}

.loan-error-msg {
  margin-top: 10px;
  color: var(--color-danger);
  font-family: 'Signika Negative';
  font-size: 16px;
  width: 250px;
}

.loan-add-btn {
  margin-top: -6px;
}

.loan-add-btn.active {
  pointer-events: none;
  opacity: 0.8;
}

.loan-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 90px;
}

@media (max-width: 365px) {
  .loan-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 90vw;
  }

  .loan-add-btn {
    margin-top: 16px;
  }
}
